@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
// app global css in SCSS form

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  overflow: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.input[type="date"] {
  position: relative;
}

.Btn {
  padding: 0.2rem 1.2rem;
  border-radius: 1rem;
  color: #f4f4f4;
}
